@using Reassigner.Infrastructure;
@using Reassigner.Infrastructure.Entities;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Rules";
}

@model IEnumerable<Rule>

@if (Model?.Count() != 0)
{
    <table id="rules_table" class="ui definition table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Last ran</th>
                <th>Enabled</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rule in Model)
            {
                <tr>
                    <td>@rule.ID</td>
                    <td>@rule.Description</td>
                    <td>@rule.LastRan</td>
                    <td>
                        <div class="ui toggle checkbox">
                            <input id="check_@rule.ID" onclick="switchRule('@rule.ID')" type="checkbox" @((rule.Enabled) ? "checked" : "") name="public">
                            <label for="check_@rule.ID"></label>
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Report" asp-action="RuleReport" asp-route-ruleId="@rule.ID">
                            <div class="ui right labeled icon button">
                                Reports
                                <i class="file alternate outline icon red"></i>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Rules" asp-action="Edit" asp-route-id="@rule.ID">
                            <div class="ui right labeled icon button">
                                Edit
                                <i class="edit icon blue"></i>
                            </div>
                        </a>
                    </td>
                    <td>
                        <button class="ui right labeled icon button">
                            <i class="play icon green"></i>
                            Run now
                        </button>
                    </td>
                    <td>
                        <button class="ui right labeled icon button">
                            Delete
                            <i class="delete icon red"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No rules.</h3>
}
<script>
    function switchRule(id) {
        let path = (!$("#check_" + id).is(":checked")) ? "disable" : "enable";
        $.post("/Rules/" + path + "?id=" + id, function (data) {
            console.log(data);
        });
    }
</script>
<a asp-controller="Rules" asp-action="Edit">
    <div class="ui right labeled icon button">
    New rule
    <i class="file outline icon green"></i>
    </div>
</a>